In [4]:
import pandas as pd

planets_df = pd.read_csv('../dataset/planets.csv')

print(planets_df.head(10))

    planet  radius_km  mass_10^24kg  orbital_period_days  temperature_avg_c
0  Mercury     2439.7         0.330                 88.0                167
1    Venus     6051.8         4.870                224.7                464
2    Earth     6371.0         5.970                365.2                 15
3     Mars     3389.5         0.642                687.0                -65
4  Jupiter    69911.0      1898.000               4331.0               -110
5   Saturn    58232.0       568.000              10747.0               -140
6   Uranus    25362.0        86.800              30589.0               -195
7  Neptune    24622.0       102.000              59800.0               -200

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns